#Azure Custom Vision API
PREDICTION_KEY="YOUR_PREDICTION_KEY_HERE"
IMAGE_ENDPOINT="YOUR_IMAGE_ENDPOINT_URL_HERE"
URL_ENDPOINT="YOUR_URL_ENDPOINT_URL_HERE"

#Cosmos DB (MongoDB API)
COSMOS_ENDPOINT=
COSMOS_KEY=

#Blobstorage 
DefaultEndpointsProtocol=
key=